<a href="https://colab.research.google.com/github/Iammanan07/Aviaation-accident-Analysis-EDA-/blob/main/Aviation_Accidents_Analysis_(EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aviation Administration

#### This analysis centres on aviation accidents within the United States and is conducted with the fictitious aim of providing valuable insights to government agencies. The ultimate objective is to provide recommendations to enhance regulatory frameworks and ensure heightened safety standards.

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.cm as cm

In [ ]:
from google.colab import files
import zipfile

# Upload and extract ZIP file
uploaded = files.upload()

for filename in uploaded.keys():
    with zipfile.ZipFile(filename, 'r') as zip_ref:
        zip_ref.extractall('/content/extracted_folder')

# Read CSV file from extracted folder
import pandas as pd
# Assuming the CSV file is named 'AviationData.csv' after extraction:
df = pd.read_csv('/content/extracted_folder/AviationData.csv', encoding='latin-1')

# Display the shape of the DataFrame (for verification)
df.shape

Saving AviationData.csv.zip to AviationData.csv (2).zip

<ipython-input-9-8cbd51f47afa>:14: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/extracted_folder/AviationData.csv', encoding='latin-1')

(88889, 31)

In [ ]:
# Checking the head of data
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [ ]:
# Checking the tail of data
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [ ]:
# List of data's columns
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [ ]:
# Summary statistics of numeric columns
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

# Data Cleansing and Data Handling

In [ ]:
# Let's have a look at our data again
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [ ]:
# Checking the number of missing values in each column
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [ ]:
# I am going to drop columns that have roughly more than 25% of their data missing
columns_to_drop = ['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Aircraft.Category', 'FAR.Description',
                   'Schedule', 'Air.carrier', 'Broad.phase.of.flight']

df_clean = df.drop(columns=columns_to_drop)

In [ ]:
#I think there are many columns which are not important for my analysis. I drop these columns for easier handling of data
# and clearer analysis
more_columns_to_drop = ['Accident.Number', 'Registration.Number', 'Amateur.Built',
                   'Publication.Date', 'Publication.Date', 'Report.Status','Engine.Type']
df_clean = df_clean.drop(columns=more_columns_to_drop)

In [ ]:
df_clean.columns

Index(['Event.Id', 'Investigation.Type', 'Event.Date', 'Location', 'Country',
       'Injury.Severity', 'Aircraft.damage', 'Make', 'Model',
       'Number.of.Engines', 'Purpose.of.flight', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition'],
      dtype='object')

In [ ]:
# I change some column titles to more managable ones
new_column_names = {'vent.Id': 'ID', 'Investigation.Type': 'Type', 'Event.Date':'Date', 'Injury.Severity':'Injury_Severity',
                    'Aircraft.damage':'Damage_type', 'Number.of.Engines':'Engines', 'Purpose.of.flight':'Flight_Purpose',
                    'Total.Fatal.Injuries':'Fatal_Injuries', 'Total.Serious.Injuries':'Serious_Injuries',
                   'Total.Minor.Injuries':'Minor_Injuries', 'Total.Uninjured':'Uninjured', 'Weather.Condition':'Weather',}
df_clean.rename(columns=new_column_names, inplace=True)

In [ ]:
df_clean.head(1)

,Event.Id,Type,Date,Location,Country,Injury_Severity,Damage_type,Make,Model,Engines,Flight_Purpose,Fatal_Injuries,Serious_Injuries,Minor_Injuries,Uninjured,Weather,Fatality
0,20001218X45444,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,1.0,Personal,2.0,0.0,0.0,0.0,UNK,2

#### While exploring the data above it came to my attention that columns 'Injury.Severity' and 'Total.Fatal.Injuries' provide similar information but 'Total.Fatal.Injuries' has many missing data. By extracting data from these two columns, I create a new Fatality column with less missing numerical data than 'Total.Fatal.Injuries'

In [ ]:
import numpy as np # Import the numpy library and assign it the alias 'np'
df_clean['Fatality'] = df_clean['Injury_Severity'].str.extract(r'\((\d+)\)')
df_clean['Fatality'].fillna(df_clean['Injury_Severity'], inplace=True)
df_clean['Fatality'].replace({'Non-Fatal': 0, 'Minor': 0, 'Serious': 0, 'Incident': 0}, inplace=True)
df_clean['Fatality'] = df_clean.apply(lambda row: row['Fatal_Injuries'] if row['Fatality'] == 'Fatal' else row['Fatality'], axis=1)
df_clean['Fatality'].replace('Unavailable', np.nan, inplace=True)
df_clean['Fatality'][~df_clean['Fatality'].isna()] = df_clean['Fatality'][~df_clean['Fatality'].isna()].astype(int)
pd.options.display.float_format = '{:.0f}'.format

<ipython-input-23-76235e9c1f45>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Fatality'].fillna(df_clean['Injury_Severity'], inplace=True)
<ipython-input-23-76235e9c1f45>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Fatality'].replace('Unavailable', np.nan, inplace=True)
<ipython-input-23-76235e9c1f45>:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_clean['Fatality'][~df_clean['Fatality'].isna()] = df_clean['Fatality'][~df_clean['Fatality'].isna()].astype(int)
<ipython-input-23-76235e9c1f45>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Fatality'][~df_clean['Fatality'].isna()] = df_clean['Fatality'][~df_clean['Fatality'].isna()].astype(int)

In [ ]:
# My Fatality column with more accurate representation of Fatality counts has been created
df_clean['Fatality'].value_counts()

Fatality
0      69998
1       8867
2       5172
3       1588
4       1103
       ...
156        1
68         1
31         1
115        1
176        1
Name: count, Length: 125, dtype: int64

In [ ]:
# We can drop Fatal_injuries column now
df_clean.drop(columns=['Fatal_Injuries'], inplace=True)

NameError: name 'df_clean' is not defined

In [ ]:
df_clean.info()

In [ ]:
# changing date type to the appropriate format and creating a column for seasons
df_clean['Date'] = pd.to_datetime(df_clean['Date'], format='%Y-%m-%d')
df_clean['Month'] = df_clean['Date'].dt.month
seasons = {
    12: 'Winter', 1: 'Winter', 2: 'Winter',
    3: 'Spring', 4: 'Spring', 5: 'Spring',
    6: 'Summer', 7: 'Summer', 8: 'Summer',
    9: 'Fall', 10: 'Fall', 11: 'Fall'
}

df_clean['Season'] = df_clean['Month'].map(seasons)

In [ ]:
# I am going to create more new columns out of Date columns for future analysis and visualisations
df_clean['Year'] = df_clean['Date'].dt.year

In [ ]:
# While exploring the dataframe, I realised United States is overrepresented in Country column
# more than 90% of the Country column is the United States. As I wanted to focus on the US aviation accidents
# I create a new dataframe df_us to focus on the United States
df_clean['Country'].value_counts()

Country
United States                       82248
Brazil                                374
Canada                                359
Mexico                                358
United Kingdom                        344
                                    ...
Seychelles                              1
Palau                                   1
Libya                                   1
Saint Vincent and the Grenadines        1
Turks and Caicos Islands                1
Name: count, Length: 219, dtype: int64

In [ ]:
df_us = df_us = df_clean[df_clean['Country'] == 'United States']
df_us.reset_index(drop=True, inplace=True)

In [ ]:
# This is to prevent warning messages that I am getting
df_us = df_us.copy()

In [ ]:
# I create new columns using Location for future geographical analysis and visualisations.
#This was easier on Jupyter notebook by pip install us & import us, but it did not work on Kaggle
# So I ended up creating a list of valid US states codes

valid_state_codes = [
    'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
    'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD',
    'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ',
    'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC',
    'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'
]

def extract_city_state(location):
    if pd.notna(location):
        location = location.strip()
        last_two_chars = location[-2:].upper()
        if last_two_chars in valid_state_codes:
            return location[:-3].strip(), last_two_chars
        else:
            return location, "Not Applicable" # Some accidents have not happend in a particular state
    else:
        return np.nan, np.nan

df_us[['City', 'State']] = df_us['Location'].apply(extract_city_state).apply(pd.Series)

In [ ]:
# getting rid of trailing commas in City column
df_us['City'] = df_us['City'].str.rstrip(',')

In [ ]:
# having devided Location and Date columns, now we can drop these as well
df_us.drop(columns=['Date', 'Location'], inplace=True)

NameError: name 'df_us' is not defined

In [ ]:
# I noticed Fatality column has somehow returned to object type (not sure why?) so I change it to numeric again
df_us['Fatality'] = pd.to_numeric(df_us['Fatality'], errors='coerce')

NameError: name 'pd' is not defined

In [ ]:
# Now my dataframe is ready for further analysis. There are still some missing data but I believe this is not
# significant to impact my analysis
df_us.info()

NameError: name 'df_us' is not defined

# Visualisation and Exploratory Data Analysis

In [ ]:
# Let's have a look at the line plot of US aviation accidents over years. I noticed that there are very little
# data about years before 1982. So I limited the plot from 1982 onwards
df_us['Year'] = df_us['Date'].dt.year
df_us_filtered = df_us[df_us['Year'] >= 1982]

accidents_by_year = df_us_filtered['Year'].value_counts().sort_index()

plt.figure(figsize=(8, 4))
plt.plot(accidents_by_year.index, accidents_by_year.values, linestyle='-')
plt.title('Number of Aviation Accidents (1982 Onwards)')
plt.xlabel('Year')
plt.ylabel('Number of Accidents')
plt.grid(True)
plt.xticks(rotation=45)
plt.show()
# There has been a dramatic decrease in the number of accidents since 1982 which suggest improvements
# in aviation safety, regulatory measures, technology, training, and overall risk management within the aviation industry.

KeyError: 'Date'

In [ ]:
# Let's have a look at top ten states with most accidents
top_10_states = df_us['State'].value_counts().head(10)


cmap = cm.get_cmap('cividis', len(top_10_states))
colors = cmap(range(len(top_10_states)))


plt.figure(figsize=(6, 4))
bars = plt.bar(top_10_states.index, top_10_states.values, color=colors)
plt.xlabel('State')
plt.ylabel('Count')
plt.title('Top 10 States with Most Accidents')
plt.xticks(rotation=45)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

# California, Texas and Florida have most aviation accidents

In [ ]:
# Rate of accidents for top 5 states are similar in more recent years

filtered_years = df_us[(df_us['Year'] >= 2015) & (df_us['Year'] <= 2020)]


top_10_states = filtered_years['State'].value_counts().head(10)


cmap = cm.get_cmap('cividis', len(top_10_states))
colors = cmap(np.arange(len(top_10_states)))


plt.figure(figsize=(6, 4))
bars = plt.bar(top_10_states.index, top_10_states.values, color=colors)
plt.xlabel('State')
plt.ylabel('Count')
plt.title('Top 10 States with Most Accidents (2015-2020)')
plt.xticks(rotation=45)
plt.grid(axis='y', linestyle='--', alpha=0.7)

plt.show()

In [ ]:
# A heatmap visualising the distribution of aviation accidents around the US
state_counts = df_us['State'].value_counts().reset_index()
state_counts.columns = ['State', 'Count']

import plotly.express as px
fig = px.choropleth(
    state_counts,
    locations="State",
    locationmode="USA-states",
    color="Count",
    scope="usa",
    title="Distribution of Aviation Accidents Around the US",
    color_continuous_scale= 'Reds',
)


fig.show()

In [ ]:
# Plot distribution of accidents by months and seasons

fig, axes = plt.subplots(1, 2, figsize=(12, 4))


sns.countplot(data=df_us, x='Month', palette='viridis', ax=axes[0])
axes[0].set_title('Distribution of Accidents by Month')
axes[0].set_xlabel('Month')
axes[0].set_ylabel('Number of Accidents')


month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
axes[0].set_xticks(range(12))
axes[0].set_xticklabels(month_order)


season_colors = {
    'Winter': 'darkblue',
    'Spring': 'lightgreen',
    'Summer': 'darkgreen',
    'Fall': 'yellow'
}


seasonal_accident_counts = df_us['Season'].value_counts()


axes[1].bar(seasonal_accident_counts.index, seasonal_accident_counts, color=[season_colors.get(season, 'gray') for season in seasonal_accident_counts.index])
axes[1].set_title('Distribution of Accidents by Season')
axes[1].set_xlabel('Season')
axes[1].set_ylabel('Number of Accidents')
plt.show()

# Most accidents happen in the summer

In [ ]:
# Exploring the rate of fatalities to see what year had the most percentage of deadly accidents

df_us_filtered = df_us.copy()

# I use 1982 onwards because there were only a few accidents for before then
df_us_filtered = df_us_filtered[df_us_filtered['Year'] >= 1982]

yearly_stats_filtered = df_us_filtered.groupby('Year')['Fatality'].agg(['count', 'sum'])


yearly_stats_filtered['Fatality_Percentage'] = (yearly_stats_filtered['sum'] / yearly_stats_filtered['count']) * 100


yearly_stats_filtered['Fatality_Percentage'].fillna(-np.inf, inplace=True)


year_with_highest_percentage = yearly_stats_filtered['Fatality_Percentage'].idxmax()
highest_percentage = yearly_stats_filtered['Fatality_Percentage'].max()

print(f"Year with the highest percentage of fatalities (1982 onwards): {year_with_highest_percentage}")
print(f"Highest percentage of fatalities (1982 onwards): {highest_percentage:.2f}%")

# 2001 has the most percentage of Fatalities. Not sure if high ratio is because of the victims of 9/11 terror attack

In [ ]:
# Here I visualise above calculation

fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(14, 4))


ax1.bar(yearly_stats_filtered.index, yearly_stats_filtered['Fatality_Percentage'], color='skyblue')
ax1.set_xlabel('Year')
ax1.set_ylabel('Fatality Percentage')
ax1.set_title('Fatality Percentage by Year (1982 onwards)')
ax1.axvline(x=year_with_highest_percentage, color='red', linestyle='--', label='Year with Highest Percentage')
ax1.legend()


yearly_fatality_rate = df_us_filtered.groupby('Year')['Fatality'].sum() / df_us_filtered.groupby('Year')['Fatality'].count()
ax2.plot(yearly_fatality_rate.index, yearly_fatality_rate, linestyle='-')
ax2.set_title('Yearly Fatality Rate in Aviation Accidents (1982 Onwards)')
ax2.set_xlabel('Year')
ax2.set_ylabel('Fatality Rate')
ax2.grid(True)


ax1.tick_params(axis='x', rotation=45)
ax2.tick_params(axis='x', rotation=45)


plt.tight_layout()


plt.show()

In [ ]:
# I want to create a new column to catagorize injury types and see what portion of accidents reulst in
# loss of life or serious injury

def categorize_injury_severity(severity):
    if pd.isna(severity):
        return severity
    elif "Non-Fatal" in severity:
        return "Non-Fatal"
    elif "Fatal" in severity or "Serious" in severity:
        return "Fatal/Serious"
    elif "Minor" in severity or "Incident" in severity:
        return "Minor"
    else:
        return severity


df_us['Category'] = df_us['Injury_Severity'].apply(categorize_injury_severity)

In [ ]:
df_us['Category'] = df_us['Category'].replace("Unavailable", np.nan)

In [ ]:
# I put a more suitable name for this column
df_us.rename(columns={'Category': 'Severity_Category'}, inplace=True)

In [ ]:
# I want to have only 2 categories in this column
df_us['Severity_Category'] = df_us['Severity_Category'].replace("Non-Fatal", "Minor")

In [ ]:
severity_counts = df_us['Severity_Category'].value_counts()


plt.figure(figsize=(6, 4))
severity_counts.plot(kind='bar', color=['red', 'blue'], alpha=0.7)
plt.title('Distribution of Severity Categories')
plt.xlabel('Severity Category')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

# Most accidents were Non_Fatal or resulted in Minor injuries

KeyError: 'Severity_Category'

In [ ]:
# I would like to explore if there is a meaningful relationship between wheather condition and accidents

# in Weather column'Unknown' value was writen in both upper and lower cases and it needed to be sorted out
df_us['Weather'] = df_us['Weather'].str.upper()


weather_counts_updated = df_us['Weather'].value_counts()

fig, axes = plt.subplots(1, 2, figsize=(12, 4))


axes[0].pie(weather_counts_updated, labels=weather_counts_updated.index,autopct='%1.1f%%', startangle=140)
axes[0].set_title('Distribution of Weather Conditions (Pie Chart)')
axes[0].axis('equal')



weather_counts_updated.plot(kind='bar', color='red', ax=axes[1])
axes[1].set_title('Distribution of Weather Conditions (Bar Plot)')
axes[1].set_xlabel('Weather Condition')
axes[1].set_ylabel('Count')
axes[1].tick_params(axis='x', rotation=45)

plt.show()

# Counterintuitively most accidents happen in  Visual Meteorological Conditions (VMC) which is more favourable
# condition for pilots and flights. This could be due to a high number of flights when the weather is favourable

In [ ]:
# Exploring the purpose of flights involved in accidents

top_10_purposes = df_us['Flight_Purpose'].value_counts().nlargest(10).sort_values(ascending=False)


plt.figure(figsize=(6, 4))
top_10_purposes.plot(kind='bar')
plt.title('Distribution of Accidents by Flight Purpose (Top 10)')
plt.xlabel('Purpose of Flight')
plt.ylabel('Number of Accidents')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()


plt.show()
# Significant number of personal flights are responsible for aviation accidents

In [ ]:
filtered_years = df_us[(df_us['Year'] >= 2015) & (df_us['Year'] <= 2020)]


purpose_counts = filtered_years['Flight_Purpose'].value_counts()


top_ten_purposes = purpose_counts.head(10)


colors = plt.cm.viridis(np.linspace(0, 1, len(top_ten_purposes)))


plt.figure(figsize=(6, 4))
top_ten_purposes.plot(kind='bar', color=colors)
plt.title('Top Ten Accidents by Purpose of Flight (2015-2020)')
plt.xlabel('Purpose of Flight')
plt.ylabel('Number of Accidents')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()


plt.show()

# Pattern of accidents by flight purpose is similar for more recent years as well

In [ ]:
# Trying to see the relationship between Makes, Models and engine types with accidents
make_model_accident_counts = df_us.groupby(['Make', 'Model']).size().reset_index(name='AccidentCount', drop=False)
make_model_accident_counts = make_model_accident_counts.sort_values(by='AccidentCount', ascending=False)
make_model_accident_counts

In [ ]:
# Exploring what Make, Model and engine type involved in more accidents

df_us['Engines'] = df_us['Engines'].replace(0.0, np.nan) # some values in Engine column are 0. I am not an expert but
# I am not sure if we have any aircraft with 0 engine. So I treat them as missing values

fig, axes = plt.subplots(1, 2, figsize=(12, 4))


top_10_make_model = make_model_accident_counts.head(10)
colors = sns.color_palette("dark", len(top_10_make_model))
axes[0].barh(top_10_make_model['Make'] + ' ' + top_10_make_model['Model'], top_10_make_model['AccidentCount'], color=colors)
axes[0].set_xlabel('Number of Accidents')
axes[0].set_ylabel('Make and Model')
axes[0].set_title('Top 10 Aircraft Makes and Models Involved in Accidents')
axes[0].invert_yaxis()


axes[1].set_xticks([])
sns.countplot(data=df_us, x='Engines', order=df_us['Engines'].value_counts().index, ax=axes[1])
axes[1].set_title('Aircraft Engine Types Involved in Accidents')
axes[1].set_ylabel('Number of Accidents')
axes[1].set_xlabel('Engine Type')
axes[1].tick_params(axis='x', rotation=90)
axes[1].set_xlabel('Engine Type')

plt.show()

# Cessna152, Cessna172, Cessna172N invoved in more accidents. This might be due to the populariy of these models
# but more investigation must be conducted.
# There also seems to be a strong connection between engine type and number of accidents. But again, this
# can be because of high number of them being in operation

In [ ]:
# A correlation heatmap of numerical values
numerical_data = df_us.select_dtypes(include=['number'])

correlation_matrix = numerical_data.corr()

plt.figure(figsize=(8, 4))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title('Correlation Heatmap of Numerical Columns')
plt.show()

# There are mostly strong negative and occasionally weak negative correlation between numerical columns.

# Conclusion and Recommendations

#### The decrease in aviation accidents since 1982 is encouraging, but it's clear that certain states, such as California, Texas, and Florida, still experience significantly higher accident rates. To address this issue, it is imperative to continually enhance  safety protocols, regulations, and procedures. Regular reviews and updates of these measures are essential to stay ahead of emerging risks. In high-accident states, there should be a concerted effort to increase surveillance and regulatory enforcement  activities to mitigate the risks associated with aviation accidents.

#### Most accidents happen in good weather conditions. In good weather conditions, pilots may become complacent, assuming there are fewer risks compared to poor weather conditions. This can lead to a lax attitude toward safety protocols and potentially risky behaviors, such as low-level flying, excessive speed, or aerobatics, which increase the likelihood of accidents. To address this issue, it is recommended to promote responsible flying and discourage risky behaviors through training and awareness campaigns. Reinforcing the importance of flying within established safety parameters is crucial to preventing accidents.

#### Personal flights are responsible for big portion of aviation accidents. For personal flights, comprehensive education and training programs should be promoted for pilots. Encouraging a safety-first culture within the personal aviation community is essential. Making safety a top priority in all personal flight activities is crucial to reducing accidents. Pilots must be well-prepared and aware of the potential risks associated with personal aviation, regardless of the weather conditions.

#### To further enhance aviation safety, rigorous maintenance and inspection programs should be implemented for specific makes and models that have shown a higher accident rate. Collaboration with aircraft manufacturers is vital to identify any design or manufacturing issues that may contribute to accidents. This proactive approach to maintenance and collaboration can help identify and rectify potential safety hazards before they lead to accidents, thus improving overall aviation safety.